<ion-content>
  <div class="logo-jasttips">
    <img src="assets/logo/logo-jasttips.png" alt="Ionic Logo">
  </div>

  <form #signupForm="ngForm">
    <ion-list class="ion-padding">
      <ion-item class="ion-no-padding mb-username">
        <ion-label position="stacked" color="primary">Nama Lengkap</ion-label>
        <ion-input [(ngModel)]="signup.username" name="username" type="text" #username="ngModel" placeholder="Masukan nama lengkap anda" required autofocus="true">
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-no-padding" >
          Nama lengkap harus di isi
        </p>
      </ion-text>

      <ion-label color="primary" class="label-no-wa">No WhatsApp</ion-label>
      <ion-item class="ion-no-padding">
        <ion-label class="plus-62">+62</ion-label>
        <ion-input [(ngModel)]="signup.no_telp_user" name="no_telp_user" type="number" #no_telp_user="ngModel" placeholder="812 3456 xxxx" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="no_telp_user.valid || submitted == false" class="ion-no-padding">
          No WhatsApp harus di isi
        </p>
      </ion-text>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Masuk</ion-button>
    </div>
  </form>
</ion-content>