.img-outlet {
width: 100%;
height: auto;
}

ion-card {
  margin-bottom: 15px;
}

ion-card-content h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--ion-color-dark);
}

ion-fab-button {
  width: 70px;
  --border-radius: 10px
}

ion-fab-button img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

ion-badge {
  border-radius: 100px;
  padding: 5px;
  margin-left: -10px;
  margin-top: -15px;
}