<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ nameCategory }} </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="filterData($event)" placeholder="Cari Outlet {{ nameCategory }} ..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngFor="let product of listProduct" class="ion-no-padding">
    <ion-card routerLink="/list-product/{{ productId }}/detail-product/{{ product.id_outlet }}"
      routerLinkActive="router-link-active">
      <img [src]="product.img_path_outlet" class="img-outlet" alt="">
      <ion-card-content>
        <h4>{{ product.name_outlet }}</h4>
        <h6>{{ product.address_outlet }}</h6>
      </ion-card-content>
    </ion-card>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/delivery-order']">
      <img src="assets/icon/basket.png" alt="">
      <ion-badge color="danger">
        {{ cartItemCount | async }}
      </ion-badge>
    </ion-fab-button>
  </ion-fab>

</ion-content>