<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Detail Pesan Makanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list class="ion-padding">
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Nama</ion-label>
        <ion-input [(ngModel)]="formDeliveryOrder.name_customer" [ngModelOptions]="{standalone: true}" required
          type="text">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="ion-padding">
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Nomor HP (prioritas WhatsApp)</ion-label>
        <ion-input [(ngModel)]="formDeliveryOrder.phone_customer" [ngModelOptions]="{standalone: true}" required
          type="text">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="ion-padding">
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Alamat</ion-label>
        <ion-input [(ngModel)]="formDeliveryOrder.address_customer" [ngModelOptions]="{standalone: true}" required
          type="text">
        </ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-list class="ion-padding">
    <ion-button (click)="submitDeliveryOrder()" expand="block" color="primary">
      Order
    </ion-button>
  </ion-list>
</ion-footer>