form {
  ion-list {
    margin-top: -15px;
  }

  .detail-pesanan {
    margin-top: -15px;
    h4 {
      margin-bottom: -10px
    }

    ion-card {
      ion-card-content {
        margin-top: 10px;

        .img-pesan-makanan {
            border-radius: 10px;
            width: 100px;
            height: 100px;
            margin-left: 5px;
            // margin-top: 20px;
          }

        .name-item {
          margin-bottom: 5px;
        }

        .name-outlet {
          font-size: 13px;
        }
        .price-promo {
          text-decoration: line-through;
        }
      }
    }
  }
}

.total {
  padding-left: 10px;
  margin-bottom: -5px;
}

.sub-total {
  padding-left: 10px;
  margin-bottom: -5px;
  float: right;
  margin-right: 10px;
}

.btn-pesan {
  padding: 10px;
  height: 60px;
}

ion-card-subtitle {
  font-weight: bold;
}

.no-cart {
  margin-top: 10%;
  img {
    padding: 50px;
  }

  h2 {
    font-size: 30px;
  }
  h2, h3 {
    color: var(--ion-color-primary);;
    font-weight: bold;
    text-align: center;
  }
}