.img-outlet {
  width: 100%;
  height: auto;
}

ion-card {
  padding-left: 5px;
}

.img-food {
  margin-top: 4px;
  width: 100%;
  height: 90%;
  border-radius: 10px;
}

.detail-item {
  padding-top: 10px;
  margin-left: -5px;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 8px;
}

.price {
  margin-top: -10px;
  font-size: 13px; 
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 8px;
}

.price-promo {
  margin-top: -10px;
  padding-bottom: 8px;
  font-size: 13px; 
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 8px;
  text-decoration: line-through;
}

.badge-promo {
  margin-top: -8px;
  margin-left: 5px;
  padding: 8px;
  float: right;
  width: 80%;
}

.plus-minus {
  margin-top: 5px;
  margin-left: 7px;
  display: flex;

  div {
    -ms-flex: 1;
    flex: 1;
  }

  ion-button {
    width: 30px;
    height: 30px;
  }

  .qty {
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    height: 31px;
    padding: 10px;
  }
}

.txt-total {
  padding-left: 10px;
  margin-bottom: -5px;
}

.total {
  padding-left: 10px;
  margin-bottom: -5px;
  float: right;
  margin-right: 10px;
}

.btn-keranjang {
  padding: 10px;
  height: 60px;
}

.img-keranjang {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.txt-keranjang {
  margin-top: 2px;
}