<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="nameOutlet">{{ nameOutlet }}</ion-title>
    <ion-title *ngIf="!nameOutlet">
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <img *ngIf="imgOutlet" [src]="imgOutlet" class="img-outlet" alt="" />
  <div *ngIf="!imgOutlet">
    <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
  </div>

  <!-- Toolbar Segment -->
  <ion-item-divider sticky class="ion-no-padding">
    <ion-toolbar>
      <ion-segment [(ngModel)]="menuSegment" value="menuLengkap">
        <ion-segment-button value="menuLengkap">Menu Lengkap</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-item-divider>
  <!-- End Toolbar Segment -->

  <!-- Segment -->
  <div [ngSwitch]="menuSegment">
    <!-- Segment Rekomendasi -->
    <div *ngSwitchCase="'menuLengkap'">
      <ion-card *ngFor="let item of items">
        <ion-row class="item">
          <ion-col size="5" class="col-img-food">
            <img [src]="item.img_path_item" class="img-food" alt="" />
          </ion-col>
          <ion-col size="7" class="detail-item">
            <ion-row>
              <ion-col size="12">
                <ion-text color="dark">
                  <div class="title" *ngIf="item">
                    {{ item.name_item }}
                  </div>
                  <div class="title" *ngIf="!item.name_item">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </div>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding">
              <ion-col size="6">
                <ion-row>
                  <ion-text color="medium">
                    <div class="price-promo" *ngIf="item.status_promo == '1';else noPromo">
                      {{item.price_item | currency:'Rp. ':true:'1.0'}}
                    </div>
                    <ng-template #noPromo>
                      <div class="price">
                        {{item.price_item | currency:'Rp. ':true:'1.0'}}
                      </div>
                    </ng-template>
                    <div class="price" *ngIf="!item.price_item">
                      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </div>
                  </ion-text>
                </ion-row>
                <ion-row>
                  <ion-text color="medium">
                    <div class="price" *ngIf="item.status_promo == '1'">
                      {{item.price_item_promo | currency:'Rp. ':true:'1.0'}}
                    </div>
                  </ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="6" *ngIf="item.status_promo == '1'">
                <ion-badge color="primary" mode="ios">Promo</ion-badge>
              </ion-col>
            </ion-row>

            <!-- Plus Minus -->
            <ion-row class="plus-minus">
              <ion-col size="2">
                <ion-button (click)="decrement(item)" color="medium" class="ion-button-plus-minus">
                  <b>-</b>
                </ion-button>
              </ion-col>
              <ion-col size="3">
                <div class="qty">{{ item.qty }}</div>
              </ion-col>
              <ion-col size="">
                <ion-button (click)="increment(item)" color="primary" class="ion-button-plus-minus">
                  <b>+</b>
                </ion-button>
              </ion-col>
            </ion-row>
            <!-- End Plus Minus -->
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <!-- End Segment Rekomendasi -->

    <!-- Segment Menu Lengkap -->
    <!-- End Segment Menu Lengkap -->
  </div>
  <!-- End Segment -->
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="6">
      <h4 class="total">Total</h4>
    </ion-col>
    <ion-col size="6">
      <ion-text color="primary">
        <h4 class="sub-total" color="primary">
          {{subTotal | currency:'Rp. ':true:'1.0'}}
        </h4>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-toolbar>
    <ion-button (click)="setCart()" expand="block" color="primary" class="btn-keranjang">
      <img src="assets/icon/basket.png" class="img-keranjang" alt="">
      <div class="txt-keranjang">Keranjang</div>
    </ion-button>
  </ion-toolbar>
</ion-footer>