.img-outlet {
  width: 100%;
  height: auto;
}

ion-card {
  padding-left: 5px;
  height: 135px;
}

.img-pesan-makanan {
  margin-top: 4px;
  width: 100%;
  height: 85%;
  border-radius: 10px;
}

.detail-item {
  margin-left: -5px;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.price {
  margin-top: -8px;
  font-size: 13px; 
  font-weight: bold;
}

.qty {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-left: 15px;
}

.plus-minus {
  margin-top: -25px;
  margin-left: 7px;
}

.ion-button-plus-minus {
  width: 30px;
  height: 30px;
}

.total {
  padding-left: 10px;
  margin-bottom: -5px;
}

.sub-total {
  padding-left: 10px;
  margin-bottom: -5px;
  float: right;
  margin-right: 10px;
}

.btn-keranjang {
  padding: 10px;
  height: 60px;
}

.img-keranjang {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.txt-keranjang {
  margin-top: 2px;
}