<ion-content>
  <div class="header-info">
    <img src="assets/banner/icon-tugu-padi.jpeg" alt="" />
    <div class="ion-text-center ion-padding">
      <ion-text color="light" class="mt">
        Aplikasi Pemesanan <br />
        Makanan & Jasa Kurir <br />
        Kota Karawang
      </ion-text>
    </div>
  </div>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-no-padding" size="4" *ngFor="let dashboard of dashboardData">
        <ion-card routerLink="/list-product/{{dashboard.id}}" routerLinkActive="router-link-active">
          <ion-card-header>
            <img [src]="dashboard.icon" class="dashboard-img" alt="" />
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <h3 class="ion-text-center">
              {{ dashboard.categoryName }}
            </h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <section class="full-width">
    <div class="promo-banner">
      <label class="label-promo-banner">
        Lihat Promo Hari Ini
      </label>
    </div>
  </section>
  <ion-slides pager="true" scroll-y="false" [options]="slideOptsOne">
    <ion-slide *ngFor="let item of [].constructor(3)">
      <img src="assets/img/product/img-percetakan.jpeg" alt="" />
    </ion-slide>
  </ion-slides>
  <div class="promo-banner-bottom"></div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding" style="margin-top: -20px;">
    <img style="margin-bottom: -5px;" src="assets/banner/output-onlinepngtools.png" alt="" />
    <div class="footer"></div>
  </ion-toolbar>
</ion-footer>