<ion-content *ngIf="connection == false">
  <div class="no-internet">
    <img src="assets/img/no-internet/undraw_Notify_re_65on.svg" alt="" />
    <ion-text color="danger">
      <h1 class="ion-text-center oops">Oops</h1>
      <h1 class="ion-text-center txt-warning">Harap Sambungkan Internet!</h1>
    </ion-text>
    <div class="ion-padding">
      <ion-progress-bar color="danger" reversed={true} type="indeterminate" reversed="true"></ion-progress-bar>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="connection">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="header-info">
    <img src="assets/banner/icon-tugu-padi.jpeg" alt="" />
    <div class="ion-text-center ion-padding">
      <ion-text color="light" class="mt">
        Aplikasi Pemesanan <br />
        Makanan & Jasa Kurir <br />
        Kota Karawang
      </ion-text>
    </div>
  </div>

  <ion-grid fixed>
    <ion-card>
      
    <ion-row>
      <ion-col size="7" class="card-user">
        <ion-row>
          <img src="assets/icon/user-48.png" alt="" class="icon-user">
          <ion-text color="dark" class="mt-user ion-text-capitalize">
            <h6>{{ username }}</h6>
          </ion-text>
        </ion-row>
        <ion-row class="phone-user">
          <img src="assets/icon/android-48.png" alt="" class="icon-user">
          <ion-text color="dark" class="mt-user">
            <h6>+{{ no_telp_user }}</h6>
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col size="5" class="edit-profile">
        <a (click)="account()" >Edit Profile</a>
      </ion-col>

    </ion-row>

  </ion-card>

  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="category">
        <ion-label class="ion-no-padding">Kategori</ion-label>
      </ion-col>
      <ion-col class="ion-no-padding" size="4" *ngFor="let item of listCategory">
        <ion-card routerLink="/list-product/{{item.id_category_outlet}}" routerLinkActive="router-link-active">
          <ion-card-header class="ion-no-padding">
            <img [src]="item.img_path_category_outlet" alt="" class="img-category" />
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <div class="ion-text-capitalize">
              <h3 class="ion-text-center">
                {{ item.name_category_outlet }}
              </h3>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="category">
        <ion-label class="ion-no-padding">Promo</ion-label>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-card color="primary" class="card-promo">
          <ion-slides pager="true" scroll-y="false" [options]="slideOptsOne">
            <ion-slide *ngFor="let promo of itemPromo; let i = index">
              <!-- <img routerLink="/promo-product/{{ i }}" routerLinkActive="router-link-active"  [src]="promo.img_path_outlet" alt="" /> -->
              <img (click)="selectPromo(promo)" [src]="promo.img_path_outlet" alt="" />
            </ion-slide>
          </ion-slides>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar class="ion-no-padding" style="margin-top: -20px;">
    <img style="margin-bottom: -5px;" src="assets/banner/output-onlinepngtools.png" alt="" />
    <div class="footer"></div>
  </ion-toolbar>
</ion-content>