.header-info {
  border-radius: 0px 0px 30px 30px;
  font-size: 23px;
  background: var(--ion-color-primary);
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.1), 0 6px 20px 0 rgb(0, 0, 0, 0.10);
}

.mt {
  margin-top: 100px;
}

ion-grid {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dashboard-img {
  width: 100px;
  height: 60px;
  align-items: center;
}

h3 {
  color: var(--ion-color-dark);
  font-weight: bold;
  margin-bottom: 10px;
}

.category {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: -5px;
}

.promo {
  font-size: 18px;
  font-weight: bold;
}

.card-promo {
  border-radius: 20px;
}

ion-slides {
  text-align: center;
  --bullet-background: var(--ion-color-light);
  --bullet-background-active: var(--ion-color-light);
}

ion-slides img {
  width: 100%;
  height: auto;
  // margin-top: 25px;
  margin-bottom: 30px;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-style: none;
}

.footer {
  background-color:#33cc33;
  margin: none;
  height: 15px;
  margin-bottom: -10px;
}